<!DOCTYPE html>
	<html>
		<head>
			<!-------------------------------------------------------------->
			<meta charset='utf-8'>
			<meta name='viewport' content='width=device-width,initial-scale=1.0'>
			<title>Boss</title>
		{% block includes %}
			{% include 'partials/includes.html.twig' %}
		{% endblock %}

			<!---Boss -->
			<script type='text/javascript' language='javascript' src='../BossJs/system/js_utilities.js'></script>
			<script type='text/javascript' language='javascript' src='../BossJs/system/js_variables_globales_std.js'></script>
			<script type="text/javascript" language="javascript" src="../BossJs/ged/menu_principal.js"></script>
		</head>
		<body>
		<!----------------------------1-Variables js---------------------------------->
		<input type="hidden" id="routeRouteur" value="{{path('system_routeur')}}"></>
		<input type="hidden" id="nodeCourant" value="{{nodeCourant}}"></>
		<input type="hidden" id="timeOut" value="{{configNode['timeOutPage']}}"></>
		<!-------------------- 2-Notifications -------------------------->
		{% if notificationsWarning|length > 0  or notificationsNotice|length > 0%}
			<div id="notification_msg" style="border:solid ; color:WhiteSmoke; ">											
					{% for warning in  notificationsWarning %}
						<p class="mb-0" style=" color: red">-{{warning}}</p>
					{% endfor %}
					{% for notice in  notificationsNotice %}
						<p class="mb-0" style=" color: blue">-{{notice}}</p>
					{% endfor %}
		
			</div>
		{% endif %}
		<!----------------------------3-Loader------------------------------------>
		<div id="loader" class="ld ld-ring ld-spin"></div>

			<div class="container">
				<h2><strong> {{txtLang['texte_page']['txt_1_0']}}</strong></h2>
				<h3 style="text-align: center;"> {{txtLang['texte_page']['txt_2_0']}}  </h3>
		<!----------------------------4-Titre & commentaires --------------------->
				<div class='row'>
					<div class='col-lg-12'>
					</div>
				</div>
				<!-------------------- 5-Commandes------------------------------->
				<div class='row'> 
					<HR align=center size=1 width='100%' style='margin-top:2px;margin-bottom:2px;border-top: 1px solid #2e2c2c;'>
							<div >
					{% for cmd in cmdeContextGenePage %}
					<button id={{cmd[0]}} class="btn-primary" 
						style="color:{{cmd[3]}};
						background-color:{{cmd[4]}}; 
						visibility:visible;
						margin-bottom:5px;margin-left:5px;border-radius: 10%;">
					{{cmd[5]}}
					</button>
				{% endfor %}
							</div>
					<HR align=center size=1 width='100%' style='margin-top:2px;margin-bottom:2px;border-top: 1px solid #2e2c2c;'>
				</div>	
				<!----------------------------------------------------------->
			</div>
		</body>
	</html>