<!DOCTYPE html>
	<html>
		<head>
			<!-------------------------------------------------------------->
			<meta charset='utf-8'>
			<meta name='viewport' content='width=device-width,initial-scale=1.0'>
			<title>Boss</title>
		{% block includes %}
			{% include 'partials/includes.html.twig' %}
		{% endblock %}

		<!---Boss -->
*		<script type='text/javascript' language='javascript' src='../BossJs/system/js_utilities.js'></script>
		<script type='text/javascript' language='javascript' src='../BossJs/system/js_variables_globales_std.js'></script>
		<script type="text/javascript" language="javascript" src="../BossJs/ged/recherche_document.js"></script>
		<!--Curseur loading -->

		</head>
		<body>
			<!-------------------- 1-Variables js--------------------------->
		<input type="hidden" id="routeRouteur" value="{{path('system_routeur')}}"></>
		<input type="hidden" id="nodeCourant" value="{{nodeCourant}}"></>
		<input type="hidden" id="timeOut" value="{{configNode['timeOutPage']}}"></>

		<input type="hidden" id="dataTableAjax" value="{{configNode['dataTableAjax']}}"></>
		<input type="hidden" id="maxSel" value="{{configNode['maxSel']}}"></>
		<input type="hidden" id="nbColumns" value="{{configNode['nbColumns']}}"></>

			<!-------------------- 2-Notifications ------------------------->
		{% if notificationsWarning|length > 0  or notificationsNotice|length > 0%}
			<div id="notification_msg" style="border:solid ; color:WhiteSmoke; ">											
					{% for warning in  notificationsWarning %}
						<p class="mb-0" style=" color: red">-{{warning}}</p>
					{% endfor %}
					{% for notice in  notificationsNotice %}
						<p class="mb-0" style=" color: blue">-{{notice}}</p>
					{% endfor %}
		
			</div>
		{% endif %}
		<!-------------------- 3-Loader--------------------------------->
		<div id='idLoader' class='loader' style='visibility: collapse;'> </div>
		<!------------ 5-Titres -------------------------->
		<div class="container">
				<h2><strong> {{txtLang['pageParent']['txt_1_0']}} </strong></h2>
				<h3 style="text-align: center;">{{txtLang['pageParent']['txt_2_0']}}</h2>
	<!----------------------------8-Boutons de cmde -------------------------->
		<div class="container">

			<!--8-1-Boutons zoneConnex (module)-->
			<div id="zoneConnex" >
				{% for cmd in cmdeConnex %}
					<button id={{cmd[0]}} class="btn-primary" 
						style="color:{{cmd[3]}};
						background-color:{{cmd[4]}}; 
						visibility:visible;
						margin-bottom:5px;margin-left:5px;border-radius: 10%;">
					{{cmd[5]}}
					</button>
				{% endfor %}
			</div>
			<!--8-2-Boutons zoneContextGeneral (section)-->
			<div id="zoneContextGene">
				{% for cmd in cmdeContextGene %}
					<button id={{cmd[0]}} class="btn-primary" 
						style="color:{{cmd[3]}}; 
						background-color:{{cmd[4]}}; 
						margin-bottom:5px; margin-left:5px; border-radius: 10%;">
					{{cmd[5]}}
					</button>
					{% endfor %}
			</div>
			<!--8-3-Boutons zoneContextParticulier (selection)-->
			<div id="zoneContextPart" style="display: none ">
				{% for cmd in cmdeContextParticulier %}
					<button id={{cmd[0]}} class="btn-primary" 
						style="color:{{cmd[3]}}; 
						background-color:{{cmd[4]}}; 
						visibility: visible; 
						margin-bottom:5px; margin-left:5px; border-radius: 10%;">
					{{cmd[5]}}
					</button>
				{% endfor %}
			</div>
		</div>
					<!--recherche de dossier-->
					<div class="container">
						{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }} {# Début du formulaire Symfony #}
							<div class="form-group row"> {# Groupe pour le champ module #}
								{{ form_label(form.module, txtLang_texte_Form['frm_1_0'], {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
								<div class="col-sm-8">
									{{ form_widget(form.module, {'attr': {'class': 'form-control'}}) }}
									{{ form_errors(form.module) }} {# Affichage des erreurs #}
								</div>
							</div>
						  
							<div class="form-group row"> {# Groupe pour le champ section #}
								{{ form_label(form.dossier, txtLang_texte_Form['frm_3_0'], {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
								<div class="col-sm-8">
									{{ form_widget(form.dossier, {'attr': {'class': 'form-control'}}) }}
									{{ form_errors(form.dossier) }}

									<button id="select_down" class="btn btn-secondary" style="margin-left: 5px;margin-bottom: 5px;">&#8595;</button>
									<button id="select_up" class="btn btn-secondary" style="margin-left: 5px;margin-bottom: 5px;">&#8593;</button>
									<label for="champ_4_select" style="width: 100%;">{{ txtLang_texte_Form['frm_4_1'] }}</label>
									<p id="dossier_select" style="width: 100%;color: blue"></p>
 								</div>
							</div>
						{{ form_end(form) }} {# Fin du formulaire Symfony #}
					</div>					

				</div>	
				<!---------- 8-Affichages -------------->
				<div style='padding: 1%;' >
					<div class='row'>
						<div id='selection' class='col-lg-4' >
							<!--8-1-ligne(s)selection dataTable-->
							<pre id='dataTableSelection' style='display: none; height:0' > </pre>
						</div>
						<div id='tableauBord' class='col-lg-4' >
								<!--8-2-complements info de la selection (tableau de bord)-->
							<!--pre id='affTableauBord' height:auto' >  </pre-->
						</div>

					</div>
				</div>
				<!----------------------------9-DataTable---------------------------->
				<div class="container">
					<div id="header" class="jumbotron">
						<table id="table" class="table-striped" cellspacing="0" width="100%">
							<thead>
								<tr>
									{% for col in configNode['dataTableColumns']  %}
										<!--affichage des colonnes de la dataTable-->
										<th>{{ txtLang['cols_dataTable'][col] }}</th>
									{% endfor %}
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<!----------------------------------------------------------->
			</div>
		</body>
	</html>